<div class="mat-row">
  <div class="mat-cell">
    <a mat-icon-button>
      <mat-icon>drag_handle</mat-icon>
    </a>
    <button mat-icon-button (click)="deleteFilter.emit(filter.position)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="mat-cell">
    <span *ngIf="filter.path_verbose">({{filter.path_verbose}})</span> {{filter.field_verbose}}
  </div>
  <div class="mat-cell">
    <mat-form-field>
      <mat-select (selectionChange)="editFilter({filter_type: $event.value})" [value]="filter.filter_type">
        <mat-option title="exact" value="exact">Равно</mat-option>
        <mat-option title="iexact" value="iexact">Равно (Без учера регистра)</mat-option>
        <mat-option title="contains" value="contains">Содержит</mat-option>
        <mat-option title="icontains" value="icontains">Содержит (Без учера регистра)</mat-option>
        <mat-option title="in" value="in">Один из (разделенные запятой 1,2,3)</mat-option>
        <mat-option title="gt" value="gt">Больше чем</mat-option>
        <mat-option title="gte" value="gte">Больше или равно</mat-option>
        <mat-option title="lt" value="lt">Меньше чем</mat-option>
        <mat-option title="lte" value="lte">Меньше или равно</mat-option>
        <mat-option title="startswith" value="startswith">Начинается с</mat-option>
        <mat-option title="istartswith" value="istartswith">Начинается с (Без учера регистра)</mat-option>
        <mat-option title="endswith" value="endswith">Заканчивается на</mat-option>
        <mat-option title="iendswith" value="iendswith">Заканчивается на (Без учера регистра)</mat-option>
        <mat-option title="range" value="range">Диапазон</mat-option>
        <mat-option title="relative_range" value="relative_range" [disabled]="!(filter.field_type === 'DateField' || filter.field_type === 'DateTimeField')">Относительный диапазон</mat-option>
        <mat-option title="week_day" value="week_day">День недели</mat-option>
        <mat-option title="isnull" value="isnull">Не существует (Is null)</mat-option>
        <mat-option title="regex" value="regex">Regular Expression</mat-option>
        <mat-option title="iregex" value="iregex">Reg. Exp. (Без учера регистра)</mat-option>
        <mat-option title="max" value="max">Max (annotation-filter)</mat-option>
        <mat-option title="min" value="min">Min (annotation-filter)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-cell">
    <app-filter-input *ngIf="filter.filter_type!=='relative_range'"
                      [value]="filter.filter_value"
                      [fieldType]="filter.field_type"
                      [filterType]="filter.filter_type"
                      (valueChange)="editFilter({filter_value: $event})"></app-filter-input>
    <app-filter-input *ngIf="filter.filter_type==='relative_range'"
                      [value]="filter.filter_delta"
                      [unit]="filter.filter_value"
                      [filterType]="filter.filter_type"
                      (valueChange)="editFilter({filter_delta: $event})"
                      (unitChange)="editFilter({filter_value: $event})"></app-filter-input>
  </div>

  <div class="mat-cell">
    <app-filter-input *ngIf="filter.filter_type==='range'" [value]="filter.filter_value2" [fieldType]="filter.field_type" [filterType]="filter.filter_type"
      (valueChange)="editFilter({filter_value2: $event})"></app-filter-input>
  </div>

  <div class="mat-cell">
    <mat-checkbox [checked]="filter.exclude" (change)="editFilter({exclude: $event.checked })" aria-label="Exclude?"></mat-checkbox>
  </div>

</div>
